* {
  box-sizing:border-box;
}

body {
  margin:0;
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  cursor: url(y.png) 16 16,auto;
}

img {
  max-width: 100%;
}

.main-container {
  background-color:rgb(189, 190, 159);
  width:100%;
  height:100vh;
  padding:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  }

  .big {
  background-color:rgb(243, 244, 207);
  height:90vh;
  width:500px;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  /* align-items: center; */
  position: relative;
  }


a {
  color: rgb(34, 32, 25);
  background-color: transparent;
  text-decoration: none;
}

p {
  /* position: relative;
  bottom:200px */
  text-align: center;
  font-size: 30px;
  margin-left:8px;
  margin-right:8px;
}

.p1 {
  font-size:18px;
  text-align: center;
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  background:rgb(189, 190, 159);
  width:100%;
}

.top-nav a {
  padding-left:9px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
}

.list {
  position: relative;
  width:100%;
  height: 100%;
  background:rgb(243, 244, 207);
  display: flex;
  align-items: flex-start;
  flex-direction:row;
  padding-left:20px;
}

.middle {
  position: relative;
  width:100%;
  height: 100%;
  background:rgb(243, 244, 207);
  display: flex;
  align-items: flex-start;
  flex-direction:row;
  padding-top:10px;
}

.image-middle {
  position: relative;
  width:100%;
  height:100%;
  background:rgb(243, 244, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap:20px;
  padding: 30px;
}

.image-middle2 {
  position: relative;
  width:100%;
  height:100%;
  background:rgb(243, 244, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap:20px;
  padding: 30px;
}

.a1 {
  background-color:rgb(243, 244, 207);
  padding-left:7px;
  padding-right:8px;
  padding-top:2px;
  padding-bottom:2px;
  margin-left:1em;
}

.a11 {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 300;
  background-color:rgb(243, 244, 207);
  padding-left:7px;
  padding-right:8px;
  padding-top:2px;
  padding-bottom:2px;
  margin-left:1em;
}

.aa2 {
  background-color:rgb(208, 210, 166);
  margin-left:-2.1em;
  /* -webkit-filter: blur(1px); */
}

.a2 {
  background-color:rgb(208, 210, 166);
  /* margin-left:1em; */
  /* -webkit-filter: blur(1px); */
}

.a3 {
  background-color:rgb(232, 225, 176);
}

.a4 {
  background-color:rgb(178, 181, 139);
}

.a5 {
  background-color:rgb(233, 223, 177);
}

.a6 {
  background-color:rgb(155, 163, 122);
}

.a7 {
  background-color:rgb(180, 181, 127);
}

.a8 {
  background-color:rgb(208, 201, 155);
}

.top-nav a:hover {
    color: rgb(94, 89, 78);
    font-style: italic;
    cursor: url(y.png),auto;
    /* cursor:crosshair; */
}

.list a:hover {
    color: rgb(94, 89, 78);
    font-style: italic;
    /* cursor:crosshair; */
    cursor: url(y.png),auto;
}

.side a:hover {
    color: rgb(94, 89, 78);
    font-style: italic;
    cursor: url(y.png),auto;
    /* cursor:crosshair; */
}

.prev {
  top:50%;
  left:-40px;
  margin:0;
  position: absolute;
}

.next {
  top:50%;
  right:-40px;
  margin:0;
  position: absolute;
}

.prev1 {
  top:50%;
  left:-90px;
  margin:0;
  position: absolute;
}

.next1 {
  top:50%;
  right:-90px;
  margin:0;
  position: absolute;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left:.3em;
  padding-top:1em;
}

ul li:before {
	content: "╰";
	position: absolute;
	left: 0;
}

.media-main {
  position: relative;
  width:100%;
  height: 100%;
  background:rgb(243, 244, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color:rgb(243, 244, 207);
  padding-left:7px;
  padding-right:8px;
  padding-top:2px;
  padding-bottom:20px;
  margin-left:1em;
}

.text1 {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color:rgb(243, 244, 207);
  padding-left:7px;
  padding-right:8px;
  padding-top:0;
  padding-bottom:20px;
  margin-left:1em;
}

audio::-webkit-media-controls-panel {
  background-color:rgb(173, 173, 134);
}

audio::-webkit-media-controls-mute-button {
  background-color:rgb(209, 210, 182);
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
  background-color:rgb(219, 221, 186);
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color:rgb(244, 246, 207);
}

.bottom {
  position: relative;
  padding-left:1em;
  padding-bottom:3em;
  background-color:rgb(243, 244, 207);
}

.bottom>.bottom1 {
  display: none;
}

.bottom:hover>.bottom1 {
  display: inline;
  position: absolute;
  top: 1em;
  left: 1em;
  /* background: #888;
  border: 1px solid black; */
}

/* phone version  */
@media screen and (max-width: 800px) {
  .side {
    position: fixed;
    bottom:5px;
    left:0;
    width:100%;
    display: flex;
    justify-content: center;
  }
  .prev, .next {
    position: static;
  }
  /* .prev {
    position: static;
  }
  .next {
    position: static;
    margin-left: 10px;
  } */
}
